html,body{
  margin:0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
}

body{
  font-family:'Poppins', sans-serif;
  background:#20345f;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.container p{
  font-size:1.5rem;
  color: rgba(255,255,255);
  margin:0px;
}

.container #company-name{
  font-size:2.5rem;
  color: rgba(255,255,255,0.5);
  margin-bottom: 5px;
  position: relative;
  letter-spacing: 20px;
}
@keyframes animate{
  0%{
    height:0%;
  }
  100%{
    height:100%;
  }
}
.container #company-name::before{
  content: attr(data-text);
  color: rgba(255,255,255);
  overflow: hidden;
  position: absolute;
  left: 0%;
  animation:animate linear 7s ;
}


.text-bold{
  font-weight: 700;
}

